.wrapper {
  display: flex;
}
.side-bar {
  background-color: #e3f6f5;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #e3f6f5;
  display: flex;
  justify-content: space-between;
  align-items: center;    
}

.header-name a{
  font-size: 16px;
  color: #272343;
  text-decoration: none;
}

.create-room a {
  font-size: 10px;
  border: 1px solid #ffd803;
  padding: 14px;
  color: #272343;
  text-decoration: none;
}

.rooms {
  background-color: #bae8e8;
  height: calc(100vh - 100px);
  padding: 0 20px;  
  overflow: scroll;  
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.chat {
  background-color: #fffffe;
  width: calc(100vw - 300px);
}
.chat-header {
  height: 100px;
  padding: 0 40px;  
}
.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;  
}
.form {
  background-color: #e3f6f5;
  height: 90px;
  padding: 20px 40px;  
}